{% load static %}
<nav class="navbar shadow sticky-top p-3 mb-4" style="background-color: greenyellow;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'shop' %}"><img src="{% static 'bilder/pokeball.webp' %}" alt="" width="50" height="50"></a>
        <div class="navbar-nav">
            <div class="d-flex">
                <a class="nav-link  p-2" href="#">Login</a>
                <a class="nav-link p-2" href="{% url 'warenkorb' %}">warenkorb
                    <span class="badge rounded-pill bg-danger position-absolute top-25 start-25 translate-middle">3</span>
                </a>
            </div>
        </div>
    </div>
</nav>